%div.article
  %h2.title
    %a{:href => "#{relative_path_to(@item)}", :title => "#{h @item[:title]}"}
      = h @item[:title]
  %p.meta
    Written by
    %a{:href => "#{@item[:author_uri] || @site.config[:author_uri]}"}
      = h(@item[:author_name] || @site.config[:author_name])
    on
    = h @item[:created_at].strftime('%F @ %H:%M %Z')
    - if @item[:updated_at] && @item[:updated_at] != @item[:created_at]
      %br
      (Last updated: #{h @item[:updated_at].strftime('%F @ %H:%M %Z')})
  %div.body
    - if block_given?
      !~ yield
    - else
      !~ @item.compiled_content
  %div.footer
    - if @item[:tags] && @item[:tags].length > 0
      %h4.meta Tagged with:
      %p
        - @item[:tags].each do |tag|
          %a{:href => uri_escape(relative_path_to("/tag/#{tag}/")), :rel => "tag"}<
            &= tag
  %div.comments
    %a{:href => "#{relative_path_to(@item)}#disqus_thread"} Permalink
    - unless @disable_comments
      %div#disqus_thread
      :javascript
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://technosorcerynetworks.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      %noscript
        %p
          Please enable JavaScript to view the
          %a{:href => "http://disqus.com/?ref_noscript=technosorcerynetworks"} comments powered by Disqus.
      %a{:href => "http://disqus.com", :class => "dsq-brlink"}
        blog comments powered by
        %span.logo-disqus Disqus
